<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Numnu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
				<key>dateExpires</key>
				<string>10/12/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GSMessages.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Nuke.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PKHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toucan.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C841926FB9EDBA29CD95C0884613FF9254D0AFC</string>
						<key>dateExpires</key>
						<string>10/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74E53UM8BJ</string>
						<key>name</key>
						<string>Delevante Software Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>74E53UM8BJ.com.numnu.numnu</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>74E53UM8BJ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>74E53UM8BJ.com.numnu.numnu</string>
				</array>
			</dict>
			<key>name</key>
			<string>Numnu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>430b3c96-1baf-4f1f-87b1-c506e6bc1f6e</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.numnu.numnu</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>74E53UM8BJ</string>
				<key>name</key>
				<string>Delevante Software Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
