<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Woofy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
				<key>dateExpires</key>
				<string>7/10/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BEMCheckBox.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CTShowcase.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CalendarKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CalendarLib.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DateToolsSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FHSTwitterEngine.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GSMessages.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IOSLinkedInAPIFix.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kanna.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LinkedinSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NSTimer_Blocks.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Neon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Nuke.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OSCache.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedDictionary.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PKHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PeekPop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SAConfettiView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftGifOrigin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGiphy.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toucan.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UIView_Shake.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Wallet.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69FE5FA569A3671BB463914286140E7E6FB048A5</string>
						<key>dateExpires</key>
						<string>7/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>HVQ8G6M85Q.com.Hello.Woofy-Automated-Social-Media-Scheduler-prod.WoofyShare</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>HVQ8G6M85Q</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.Hello.Woofy-Automated-Social-Media-Scheduler-prod</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>WoofyShare.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>8d69c715-1d0a-48fc-9843-85545e2f3c36</string>
						<key>name</key>
						<string>XC iOS: com.Hello.Woofy-Automated-Social-Media-Scheduler-prod.WoofyShare</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVQ8G6M85Q</string>
						<key>name</key>
						<string>Woofy, Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HVQ8G6M85Q.com.Hello.Woofy-Automated-Social-Media-Scheduler-prod</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>HVQ8G6M85Q</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.Hello.Woofy-Automated-Social-Media-Scheduler-prod</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>HVQ8G6M85Q.com.CZ.Woofy-Automated-Social-Media-Scheduler</string>
				</array>
			</dict>
			<key>name</key>
			<string>Woofy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7d7f926f-ee4e-4113-82bb-ca8fe0e61bf9</string>
				<key>name</key>
				<string>XC iOS: com.Hello.Woofy-Automated-Social-Media-Scheduler-prod</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HVQ8G6M85Q</string>
				<key>name</key>
				<string>Woofy, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
